{% extends "base.html" %} 
{% load i18n %}
{% block page_title %}
    Home 
{% endblock page_title %}

{%block content%}

    <div class="container mx-auto pb-10">

        <div class="-mx-40 rounded-xl bg-gray-800 h-75vh mt-32 mb-24 bg-cover bg-center"
        style="background-image:url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
        </div>
        
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in rooms %}
                {% include "mixins/room_card.html" with room=room %}
            {% endfor %} 
        </div>

        <div class="flex items-center mx-auto container justify-center">
            {% if page_obj.has_previous %}
                <a href = "?page={{page_obj.previous_page_number}}"> 
                    <i class="fas fa-angle-left fa-lg text-gray-600 rounded-full p-2 hover:bg-gray-200"></i> 
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages%}Page {{current_page}} of {{total_pages}}{% endblocktrans %}  
            </span>

            {% if page_obj.has_next %}
                <a href = "?page={{page_obj.next_page_number}}"> 
                    <i class="fas fa-angle-right fa-lg text-gray-600 rounded-full p-2 hover:bg-gray-200"></i> 
                </a>
            {% endif %}
        </div>

    </div>
   


{% endblock content%}
