@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Niramit&display=swap");

.search-box {
  transition: box-shadow 0.3s linear;
}

.nav_link {
  @apply ml-4 mr-5 rounded-full px-5 py-3 text-base;
  &:hover {
    @apply bg-gray-100;
  }
}

.btn {
  @apply text-center rounded-sm py-5 font-light text-lg w-full;
}

.btn-link {
  @apply text-center rounded-lg py-3 font-light text-lg w-full text-white bg-logo;
}

input,
textarea,
select {
  @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-500 px-5;
  &:focus {
    @apply border-2;
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 70px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(50px);
  }
  75% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-500;
  }
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

@tailwind utilities;
